<h3>Admin Login</h3>
<div class="alert alert-danger <%= !notice ? 'hidden' : '' %>"><%= notice %></div>
<%= form_tag('login_admin') do %>
  <div class="row">
    <div class="col-12 form-group">
      <%= label_tag 'Password' %>
      <%= password_field_tag :admin_pass, nil, class: 'form-control' %>
    </div>
    <div class="col-12 form-group">
      <%= submit_tag 'Login', class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
